header {
    background-color: #4B0082;
    color: #FDEFF9;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

header h1 {
    font-size: 48px;
    color: #fbfbf9;
    margin-bottom: 10px;
    letter-spacing: 2px;
    transition: color 0.3s ease, transform 0.3s ease;
}
  
header h1:hover {
    color: red; 
    transform: scale(2.50);
    cursor: pointer;
}
  
header h4 {
    font-size: 20px;
    font-weight: 300;
    color: bisque; 
    margin-top: 0;
}

.country {
    padding: 30px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
}
  
.country label {
    font-size: 18px;
    margin-right: 10px;
    color: #333;
    font-weight: 700;
}
  
.country input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.country h3 {
    font-size: 22px;
    color: #2c3e50;
    margin-top: 30px;
    margin-bottom: 20px;
}

#btn {
    background-color: #4CAF50;
    color: white;          
    padding: 5px;       
    border-radius: 10px;          
    font-size: 15px;          
    cursor: pointer;           
    transition: background-color 0.3s ease;
  }
  
  #btn:hover {
    background-color: red;
  }
  
.container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 15px;
}

.container h3 {
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
  }
  
.container button {
    background-color: #4B0082;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s ease;
}
  
.container button:hover {
    background-color: red;
    transform: scale(0.80);
    color: white;
    cursor: pointer;
}

  

footer{
  background-color: #4B0082;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

footer a{
  color: #ffd700;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover{
  text-decoration: underline;
}


#displayArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
  
.innerStyle {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}
  
.innerStyle:hover {
    transform: scale(1.05);
}
  
.innerStyle img {
    border-radius: 8px;
}
  
.innerStyle h3 {
    margin: 10px 0 5px;
    color: #2c3e50;
}
  
.innerStyle p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  